<div class="user-profile user-card mb-4">
  <div class="card-header border-0 p-0 pb-0">
    <div class="cover-img-block">
      <div class="overlay"></div>
      <div class="change-cover">
        <div class="dropdown" ngbDropdown placement="bottom-left">
          <a class="drp-icon dropdown-toggle" ngbDropdownToggle data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon feather icon-camera"></i></a>
          <div class="dropdown-menu" ngbDropdownMenu>
            <a class="dropdown-item" href="javascript:"><i class="feather icon-upload-cloud mr-2"></i>upload new</a>
            <a class="dropdown-item" href="javascript:"><i class="feather icon-image mr-2"></i>from photos</a>
            <a class="dropdown-item" href="javascript:"><i class="feather icon-film mr-2"></i> upload video</a>
            <a class="dropdown-item" href="javascript:"><i class="feather icon-trash-2 mr-2"></i>remove</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body py-0">
    <div class="user-about-block m-0">
      <div class="row">
        <div class="col-md-4 text-center mt-n5">
          <div class="change-profile text-center">
            <div class="dropdown w-auto d-inline-block" ngbDropdown>
              <a class="dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle aria-haspopup="true" aria-expanded="false">
                <div class="profile-dp">
                  <div class="position-relative d-inline-block">
                    <img class="img-radius img-fluid wid-100" src="{{this.newEmploye.filePath}}" alt="User image">
                  </div>
                  <div class="overlay">
                    <span>change</span>
                  </div>
                </div>
                <div class="certificated-badge">
                  <img src="assets/images/user/logo.png" class="img-fluid img-radius wid-40" alt="">
                </div>
              </a>
              <div class="dropdown-menu" ngbDropdownMenu>
                <a class="dropdown-item" href="javascript:"><i class="feather icon-upload-cloud mr-2"></i>upload new</a>
                <a class="dropdown-item" href="javascript:"><i class="feather icon-image mr-2"></i>from photos</a>
                <a class="dropdown-item" href="javascript:"><i class="feather icon-shield mr-2"></i>Protact</a>
                <a class="dropdown-item" href="javascript:"><i class="feather icon-trash-2 mr-2"></i>remove</a>
              </div>
            </div>
          </div>
          <h5 class="mb-1">{{this.newEmploye.prenom}}&nbsp;{{this.newEmploye.nom}}</h5>
          <p class="mb-2 text-muted">{{this.newEmploye.poste}}</p>
        </div>
        <div class="col-md-8 mt-md-4">
          <div class="row">
            <div class="col-md-6">
              <a href="https://getwireless.com.tn/" target="_blank" class="mb-1 text-muted d-flex align-items-end text-h-primary"><i class="feather icon-globe mr-2 f-18"></i>https://getwireless.com.tn/</a>
              <div class="clearfix"></div>
              <a href="mailto:demo@domain.com" class="mb-1 text-muted d-flex align-items-end text-h-primary"><i class="feather icon-mail mr-2 f-18"></i>{{this.newEmploye.email}}</a>
              <div class="clearfix"></div>
              <a href="javascript:" class="mb-1 text-muted d-flex align-items-end text-h-primary"><i class="feather icon-phone mr-2 f-18"></i>{{this.newEmploye.telephoneMobile}}</a>
            </div>
            <div class="col-md-6">
              <div class="media">
                <i class="feather icon-map-pin mr-2 mt-1 f-18"></i>
                <div style ="width:40px;" class="media-body">
                  <p class="mb-0 text-muted">{{this.newEmploye.adresse}}</p>
      
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <ul class="nav nav-tabs profile-tabs nav-fill" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link text-reset" [ngClass]="{'active': this.activeTab === 'home'}" (click)="this.activeTab = 'home'" id="home-tab" data-toggle="tab" href="javascript:" role="tab" aria-controls="home" aria-selected="true"><i class="ngcontent-gny-c107 feather icon-calendar" ng-reflect-ng-class="feather icon-calendar"></i>Calendrier</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-reset" [ngClass]="{'active': this.activeTab === 'profile'}" (click)="this.activeTab = 'profile'" id="profile-tab" data-toggle="tab" href="javascript:" role="tab" aria-controls="profile" aria-selected="false"><i class="ng-tns-c106-23 feather icon-check-square"></i>A faire</a>
              </li>

            </ul>
          </div>
         
              </div>
            </div>
            <div class="">
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade" [ngClass]="{'show active': this.activeTab === 'home'}" id="home" role="tabpanel" aria-labelledby="home-tab">
                  <div class="col-xl-12">
                    <app-card cardTitle="" cardClass="elite-calendar" [options]="false">
                      <full-calendar [options]="calendarOptions"></full-calendar>
                    </app-card>
                    </div>
                  </div>
                  
                </div>
              </div>
             <div class="tab-pane fade" [ngClass]="{'show active': this.activeTab === 'profile'}" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <div class="">
                <div class="">
                  <app-card cardTitle="Les tâches à faire" [options]="false">
                    
                      <input type="text" [(ngModel)]="this.newTache.tache " autocomplete="off" name="task-insert" class="form-control" placeholder="Ajoutez une tâche" required="" (keyup)="todo_card_message_error = false">
                      <div class="input-group-append">
                        <button class="btn btn-primary" (click)="ajouterTache ()" ng [ngClass]="{'btn-danger': todo_card_message_error, 'btn-secondary': !todo_card_message_error}" id="create-task" >
                          <i class="fa fa-plus"></i>
                        </button>
                      </div>
                   
                     <section id="task-container">
                     
                      <div class="row">
                        <div class="col-md-12"  *ngFor="let ta of listeTaches">
                          <li appTodoCardComplete>
                            <p>{{ta.tache}}</p>
                          </li>
                          <span [innerHTML]="newTodoCard"></span>
                        </div>
                      </div>
                      <div class="text-center">
                        <button id="clear-all-tasks" class="btn btn-primary m-b-0" type="button" (click)="deleteTache()">Supprimer toutes les tâches </button>
                      </div>
                    </section>
                  </app-card>
                </div>
              </div> 
         
      
       </div>
     </div>
   </div>
 </div>
<!-- profile body end -->
